{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}
<form method="post" action="">
    <div class="form-group last col-3 offset-4" style="color:#ffffff">
        <label for="password">{% trans 'Confirm Password' %}</label>
        <input name="password2" type="password" class="form-control" placeholder="{% trans 'Confirm Password' %}"
               id="password">
    </div>
</form>
{% block content %}
<p>
    {% blocktrans %}
    Forgot your password? Enter your email in the form below and we'll send you instructions for creating a new one.
    {% endblocktrans %}
</p>
{% csrf_token %}
{{ form.as_p }}
{% endblock %}


{# This is used by django.contrib.auth #}
